<html>
<head>
    <title>TextUtils</title>
</head>
<body>
<h1>Welcome to the text analyzer. Enter your text below:</h1>
<form action='/analyze' method="get">
    <textarea name='text' style="height: 113px; width: 723px;"></textarea>
    </br>
    <input type="checkbox" name="removepunc"> Remove Punctuation <br>
    <input type="checkbox" name="fullcaps"> UPPERCASE <br>
    <input type="checkbox" name="newlineremover"> Remove new line <br>
    <input type="checkbox" name="extraspaceremover"> Remove extra space <br>
    <input type="checkbox" name="charcounter"> Count the character<br>
    <button type="submit">Analyze Text</button>
</form>

</body>
</html>